@font-face {
    font-family: "cubano";
    src: url(Cubano.ttf);
}

body {
    color: rgb(240,240,240);
    background-color: rgb(21, 22, 27);
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.slide{
    /* max-width: 100vh; */
    position: relative;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
background-color: rgb(29, 30, 34);
  width: 70vw;
  height:70vh;
  padding: 5%;
  /* border: 2px solid rgb(145, 143, 143); */
  box-shadow: 8px 8px 8px rgb(16,17,20);
font-size:1vw;
  
}



#title{
    
    position: relative;
  font-size: 400%;
  margin-left:12.5%;
  margin-top: 6.25%;
  line-height: 170%;
  
  text-align: center;
  font-family: cubano, sans-serif;

  
  display: grid; 
  grid-template-columns: 0.5fr 1fr 1fr; 
  grid-template-rows: 0.5fr 0.5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "how how ."
    "stupidly website ."
    ". . .";
}
#how { grid-area: how; }
#stupidly { grid-area: stupidly; }
#website { grid-area: website; }

#how{ font-size:130%;}

#stupidly{
    margin-top: 5%;
    font-size:60%;
    line-height: 120%;
}
#website{
    margin-left: 3%;
    font-size:220%;
    color:rgb(237, 82, 83)
}
#by{
    font-family: cubano, sans-serif;
    font-size:250%;
    text-align: center;
}

.content{
    display:flex;
    justify-content: space-between;
}
.content h1{
    margin-left: 50%;
    margin-top: 5%;
    font-family: cubano, sans-serif;
    font-weight:lighter;
    font-size: 300%;
    
    }
.content li,#rater{
    color: rgb(240,240,240);
    font-family: arial, sans-serif;
    font-size: 170%;
    line-height: 200%;
}

#rater{
    border: 2px solid rgb(145, 143, 143);
    padding: 2%;
    text-align: center;
    line-height: 250%;
    font-family: cubano;
    width: 80%;
    margin: auto;
}

#score{
    font-size: 300%;
}




.image{
    width:25vw;
    margin-top: 5%;
    box-shadow: 5px 5px 5px rgb(16,17,20);
}

#JS{
    color: rgb(238, 238, 106);
    margin-left:25%;
}

.text{
    width:50%;
}

#studentName{ 
    font-family: arial, sans-serif; 
}

#student{
    color: rgb(240,240,240);
    font-family: arial, sans-serif;
    background-color: transparent;
    font-size: 64%;
    font-weight: bold;
    border: 0px;
    border-bottom: 2px solid rgb(145, 143, 143);
    margin-top: 10%;
}

#rate{
    color: rgb(29, 30, 34);
    font-size:120%;
    background-color: rgb(238, 238, 106);
    border: 0px;
    width: 25%;
    font-family: cubano, sans-serif;
    border-radius: 10px;
}
#rate:hover{
    background-color: rgb(240,240,240);
    cursor: pointer;
}

@keyframes animation {
    from {
        color: #6666ff;
      }
      10% {
        color: #0099ff;
      }
      50% {
        color: #00ff00;
      }
      75% {
        color: #ff3399;
      }
      100% {
        color: #6666ff;
      }
  }
  
  @keyframes tilting{
    from {
        rotate: -5deg;
        scale: 0.9;
    }
    
    50% {
        rotate: 5deg;
        scale: 1;
    }
    100% {
        rotate: -5deg;
        scale: 0.9;
    }
  }

  #animation {
    margin-left: 3%;
    display: inline-block;
    font-family: cubano,sans-serif;
    width: 100px;
    height: 100px;
    animation-name: tilting,animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
  }

  #space{
    margin-left: 10%;
    margin-right: 10%;
font-weight: bold;}

  #pretty{
    color: rgb(237, 82, 83);
    font-family: cubano, sans-serif;
    font-size: 110%;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);}
  
  #CSS{
    color: rgb(237, 82, 83);
  }

  #HTML{
    color: rgb(82, 159, 237);
  }

  #button{
    color: rgb(29, 30, 34);
    font-size:80%;
    padding: 1%;
    width: 20%;
    background-color: rgb(108, 182, 255);
    border: 4px;
    border-color:rgb(145, 143, 143);
    border-radius: 12px;
    
  }